<h6 class="text-center" id="titre">Types de paires</h6>
<div class="choix_type">
    <div class="case_img toHover" (click)="onclick(true)" id="img">
        <img src="../../../assets/george.png" alt="image poisson" class="image" id="un">
        <img src="../../../assets/george.png" alt="image poisson" class="image" id="deux">
    </div>
    <div class="case_img toHover" (click)="onclick(false)" id="txt">
        <img src="../../../assets/george.png" alt="image poisson" class="image" id="un">
        <h4 class="image" id="text_george">Mon poisson bubule</h4>
    </div>
</div>