$dark-blue: #01274a;
$medium-blue: #1b4a46;
$light-blue: #0264bf;
$light-turquoise: #209188;
$dark-orange: #874a03;
$light-orange: #ab5b00;

$green-simple: #104508;
$orange-medium: #454508;
$red-hard: #450808;
$blanc-casse: #f7fcff;

$green-simple-hover: #659c5c;
$orange-medium-hover: #99995a;
$red-hard-hover: #cc8d8d;

