@import "../../../styles/variables.scss";

.choix {
    display: grid;
    width: 333px;
    margin-left: 18%;
    grid-template-columns: 1fr 1fr;
    height: 67px;
    gap: 8px;
}
.case{
    padding: 15px 0% 0% 20%;
    margin: 0;
    cursor: pointer;
    font-size: 23px;
}
.text-center{
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 247px;
    overflow: hidden;
}
.cocher{
    font-size: x-large;
    background-color: #01274a;
    color: white;
    background-color: $dark-blue;
}