<p class="title">{{STAT_TITLE_AND_DESCRIPTION_PER_STAT_TYPE[statType].statTitle}}</p>
<p class="mean-big-info">{{getOverallPercentage()}}% {{statPercentageSuffix}}</p>
<p class="mean-descriptor">En moyenne sur {{(statData!=null) ? statData.duration : "..."}} mois</p>
<app-help-icon (click)="HelpIconComponent.displayHelp(STAT_TITLE_AND_DESCRIPTION_PER_STAT_TYPE[statType].statDescription)"></app-help-icon>
<app-singledata-for-singledifficulty [difficulty]="'simple'" [statData]="(statData!=null) ? statData.difficulty.simple : createDefaultDataPerDifficultyForSingleStat()" [duration]="statData?.duration" [statType]="statData?.statType" class="simple-mode"></app-singledata-for-singledifficulty>
<app-singledata-for-singledifficulty [difficulty]="'medium'" [statData]="(statData!=null) ? statData.difficulty.medium : createDefaultDataPerDifficultyForSingleStat()" [duration]="statData?.duration" [statType]="statData?.statType" class="medium-mode"></app-singledata-for-singledifficulty>
<app-singledata-for-singledifficulty [difficulty]="'hard'" [statData]="(statData!=null) ? statData.difficulty.hard : createDefaultDataPerDifficultyForSingleStat()" [duration]="statData?.duration" [statType]="statData?.statType" class="hard-mode"></app-singledata-for-singledifficulty>
<app-monitoring-call-to-action (click)="onMonitoringClick()"></app-monitoring-call-to-action>
