<header id="global-header">
    <div id="top">
        <img src="assets/icon.png" alt="logo" id="logo">
        <h1 id="profil_name">{{user.prenom}} {{user.nom}}</h1>
    </div>
    <h1 id = "titre-site">
      <span (click)="router.navigate(['/nav'])">
        <span>M</span>
        <span>e</span>
        <span>m</span>
        <span>o</span>
        <span>r</span>
        <span>i</span>
        <span>z</span>
        <span>z</span>
      </span>
    </h1>
    <div id="menu" (click)="deployMenu()">
        <div class="barre"></div>
        <div class="barre"></div>
        <div class="barre"></div>
    </div>
</header>

<div id="opacity" (click)="stopDisplay()" [class.opacity-deployed]="deployed"></div>
<div id = "menu-container" class = "notDisplayed">
  <div id="zone-menu">

    <div id="menu-header">
      <img src="assets/icon.png" alt="logo" id="logoMenu">
      <span id="nomSoignant">Marguerite LESOIGNANT</span>
      <button class="disconnect-button">Déconnexion</button>
      <span id="separator"></span>
      <div id="patient" >
      <div *ngIf="this.user.id!==-1;then userPresent else userAbsent"></div>
        <ng-template #userPresent><span>{{user.prenom}} {{user.nom}} </span> <span id="changeButton" (click)="router.navigate(['/nav']); stopDisplay()">-Cliquez ici pour changer de profil-</span></ng-template>
        <ng-template #userAbsent><span style="font-style: italic;">Pas d'utilisateur sélectionné </span> <span id="changeButton" (click)="router.navigate(['/nav']); stopDisplay()">-Cliquez ici pour choisir un profil-</span></ng-template>
      </div>
    </div>

    <div id="reste-menu" [class.enabled]="this.user.id!==-1">
        <span (click)="navigateAndStopDisplay('/play')" class="texteSouligneParLeBas">JOUER</span>
        <span (click)="navigateAndStopDisplay('/ajoutImage')" class="texteSouligneParLeBas">IMAGES</span>
        <span (click)="navigateAndStopDisplay('/stats')" class="texteSouligneParLeBas">STATISTIQUES</span>
    </div>
  </div>
</div>
