@import "../../styles/variables.scss";

#global-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $dark-blue;
  align-items: center;
  padding: 15px 0;
  position: relative;
  z-index: 65000;
  height : 7vh;
}

#top{
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
}

#logo{
  height: 40px;
}

#profil_name{
  margin: 0;
  color: white;
}

.barre {
  border-radius: 2px;
  background-color: white;
  margin: 5px auto;
  height: 5px;
  width: 100%;
}

#menu {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  right: 15px;
  top: 50%;
  justify-content: space-around;
  transform-origin: top;
  width: 40px;
  transform: translateY(-50%);
  position: absolute;
  height: 40px;
  transition : 0.5s;
  &:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 3px white);
  }
}

@keyframes spin-menu {
    0%{
      transform : rotate(0deg) translateY(-50%);
    }100%{
      transform : rotate(360deg) translateY(-50%);
    }
}

.animate{
  animation : spin-menu 0.5s ease-in forwards;
}

#titre-site {
  margin: 0;
  width: 100%;
  text-align: center;
}

$wave-animation-duration: 0.3s;
#titre-site>span {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  transition: filter $wave-animation-duration;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 3px white);
  }

  span {
    display: inline-block;
  }
  &:hover span {
    animation: wave-text $wave-animation-duration ease-in-out forwards;
  }
  @for $i from 1 to 9 {
    span:nth-of-type(#{$i}) {
      animation-delay: calc((($i) - 1) / 10)+s;
    }
  }
}

@keyframes wave-text {
  0% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

.notDisplayed{
  right: -100% !important;
}

#menu-container{
  display: flex;
  flex-direction: row;
  height : 100%;
  position: absolute;
  right: 0;
  z-index: 60000;

  transition: right 0.75s;
}

#opacity{
  width: 100%;
  height:100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 59000;
  left: -100%;
  opacity: 0;
  transition: opacity 0.75s;
}

.opacity-deployed {
  left: 0 !important;
  opacity: 0.5 !important;
}

#zone-menu{
  z-index: 6;
  width : 33vw;
  height : 100%;

}

#menu-header{
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition : 1s;
  height : 40%;
}

#reste-menu{
  background-color: white;
  color : $dark-blue;
  height : 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    font-size: 25px;
    font-weight: bold;
    width:fit-content;
    color: gray;
    cursor: not-allowed;
    margin-top: 40px;
    transition : 0.3s;
  }
}

#reste-menu.enabled span {
  color: black;
}

#reste-menu.enabled span:hover {
    cursor: pointer;
}

#patient{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;


  span{
    font-size: 20px;
    width: fit-content;
    text-align: center;
  }
}

#changeButton{
  font-size: 13px!important;
  transition: filter 0.2s;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px white);
  }
}

.texteSouligneParLeBas {
  color: black;
  position: relative;
}

.enabled .texteSouligneParLeBas::after {
  content: "";
  position: absolute;
  bottom: 0;//puts it under the texte

  left: 50%;
  transform: translateX(-50%);/*center the div horizontally */

  width: 0;//va être transitionné lors du hover
  background-color: black;
  height: 2px;
  transition: width 0.4s;
}

.enabled .texteSouligneParLeBas:hover::after {
  width: 100%;
}

#nomSoignant{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#separator{
  margin-top: 20px;
  margin-bottom: 5px;
  width: 20vw;
  height : 1px;
  background-color: white;
  border-radius: 1px;
}

#logoMenu{
  height: 80px;
}

button{
  padding : 10px 10px 10px 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: $red-hard;
  color: #fff;
  font-size: 13px;
  transition: 0.5s;
}

button:hover{
  cursor: pointer;
  background-color: $red-hard-hover;
  filter: drop-shadow(0 0 5px $red-hard-hover);
  color: $dark-blue;
  transition: 0.5s;
}
