<div class="signin">
    <h1 id="login-txt">Création de compte</h1>
    <div id="inputs">
        <h3 id="username_txt">Identifiant</h3>
        <input type="text" placeholder="Identifiant" (change)="changeUsername($event)">
        <h3 id="password_txt">Mot de passe</h3>
        <input id="input_password" type="password" placeholder="Mot de passe" (change)="changePassword($event)">
        <h3 id="password_txt">Vérifier le mot de passe</h3>
        <input id="input_verif_password" type="password" placeholder="Mot de passe" (change)="changePasswordVerif($event)">
    </div>
    <div class="btn_login toHover" (click)="onclick_signin()">
        <h6 class="btn_login_txt">Créer</h6>
    </div>
    <h5 id="txt_create">Vous avez déjà une compte?&nbsp;<U id="create" (click)="goTo_login()">Connectez vous</U></h5>
</div>