<p>Sélectionnez l'écart de temps sur lequel calculer les statistiques :</p>
<div class="carousel-container">
  <div class="left-arrow arrow" (click)="onArrowClicked('left')">
    <span class="left-arrow-character arrow-character"></span>
  </div>
  <owl-carousel-o [options]="carouselOptions" #carousel (changed)="onCarouselChange($event)">
    <ng-template carouselSlide><span class="selected-time-range">1 mois</span></ng-template>
    <ng-template carouselSlide><span class="selected-time-range">2 mois</span></ng-template>
    <ng-template carouselSlide><span class="selected-time-range">3 mois</span></ng-template>
    <ng-template carouselSlide><span class="selected-time-range">6 mois</span></ng-template>
    <ng-template carouselSlide><span class="selected-time-range">8 mois</span></ng-template>
    <ng-template carouselSlide><span class="selected-time-range">1 an</span></ng-template>
  </owl-carousel-o>
  <div class="right-arrow arrow" (click)="onArrowClicked('right')">
    <span class="right-arrow-character arrow-character"></span>
  </div>
</div>
