.memorycard {
  color: #8cbdb9;
  align-items: center;
  display: flex;
  width :80%;
  height: 80%;
  justify-content: center;
  background-color: #01274a;
  border-radius: 5%;
  margin-top: 1rem;
  box-shadow: none;
  font-family : "Poppins", sans-serif;

}

.memorycard > p{
  font-size: 40px;
  color: #e8eceb;
  font-family: '';
  display: flex;
  align-items: center;
  font-family : "Poppins", sans-serif;
  text-decoration: none;
}
