<div *ngIf="memorycard">
    <div class="back" *ngIf="memorycard.state=='default'; else elseBlock">
      MEMORIZZ
    </div>
    <ng-template #elseBlock class="front" >
      <div *ngIf="memorycard.type=='image'; else text ">
        <img [src]="getUrlForCard(memorycard)" alt="memory-img" class="memorycard-img"/>
      </div>
      <ng-template class="front" #text>
        <p class="type-text"> {{memorycard.description}}</p>
      </ng-template>
    </ng-template>
    <img class="confetti" src="assets/confetti.gif"/>
</div>


