<div id = "pageNavMain">
    <div id = "userSelector">
        <label for="user-select">Choisissez un profil:</label><br>

        <select #userSelect id="user-select" name="user" (change)="callService(userSelect.value)">
        <option [selected]="choosedUser===0" value="0" disabled>--Choose an User--</option>
        <option [selected]="choosedUser===1" value="1">Jaqueline STADCAT</option>
        <option [selected]="choosedUser===2" value="2">Jean-Michel STADECISSE</option>
        </select>
    </div>
    <div id="boutonsNav">
        <app-bouton [text]="'Jouer'" (click)="goTo('play')" class = "buttonMargin"></app-bouton>
        <app-bouton [text]="'Ajouter une Image'" (click)= "goTo('ajoutImage')" class = "buttonMargin"></app-bouton>
        <app-bouton [text]="'Stats'" (click)="goTo('stats/cardsStats')"></app-bouton>
    </div>
</div>
