/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
   height: 100%;
}

.cocher{
  border-radius: 5px;
  font-size: xx-large;
  color: white;
  filter: none;
}

.pas_cocher{
  border-radius: 5px;
  background-color: $light-turquoise;
  color: rgba(255, 255, 255, 0.827);
  font-size: 27px;
}

.text-center{
  font-size: x-large;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 247px;
  overflow: hidden;
  color: black;
}
