<span class="singledata-title">
  Mode {{difficultyDescriptor}}: {{getEvolutionPercentage()}}% {{statPercentageSuffix}}
  <br />
  <span class="on-month-text">Sur {{duration | durationInMonthsOrYear}}</span>
</span>
<span class="singledata-desc">
  {{lastTimeDate}}: {{statData.lastTimeValue | formatHour:shouldFormatHour}} {{statLongSuffix}}
  <br />
  {{nowDate}}: {{statData.nowValue | formatHour:shouldFormatHour}} {{statShortSuffix}}
</span>
<span class="games-quantity">{{statData.gamesQuantity}} parties depuis {{duration | durationInMonthsOrYear}}</span>
